.woohu-inspector {
  position: absolute;
  z-index: 1000;
  font-size: 16px;
}

.woohu-inspector .woohu-highlight {
  border: 1px solid red;
  cursor: pointer;
  background-color: rgba(#2ecc71, 0.2);
}

.woohu-inspector .woohu-toolbar {
  position: absolute;
  top: 0;
  right: 0;
}

.woohu-inspector .woohu-btn {
  padding: 10px;
  background-color: #00b0ed;
  border-width: 0;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

.woohu-inspector .woohu-btn:hover {
  background-color: #2980B9;
}

.woohu-inspector .woohu-label {
  padding: 6px;
  background-color: #2ecc71;
  font-size: 0.9em;
  color: white;
}

/* --- woohu chooser styles --- */
#woohu-chooser {
  position: fixed;
  z-index: 1000;
  font-size: 16px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 400px;
  box-sizing: content-box;
}

#woohu-chooser .woohu-section {
  background-color: #2ecc71;
  padding: 20px 10px;
  box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.3);
}

#woohu-chooser .woohu-section:after, .woohu-section:before {
  clear:both;
  content: '';
  display: table;
}

#woohu-chooser .woohu-progress {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: content-box;
}

#woohu-chooser .woohu-progress::-webkit-progress-bar {
  background-color: #ebedef;
}

#woohu-chooser .woohu-progress::-webkit-progress-value {
  background-color: #27AE60;
}

#woohu-chooser .woohu-btn {
  cursor: pointer;
  transition: opacity 0.4s ease;
  -webkit-transition: opacity 0.4s ease;
}

#woohu-chooser .woohu-btn:hover {
  opacity: 0.85;
}

#woohu-chooser .woohu-toolbar, #woohu-chooser .content {
  float: left;
  text-align: center;
}

 #woohu-chooser .woohu-toolbar {
  width: 10%;
}

#woohu-chooser .woohu-toolbar .woohu-icon-back {
  background-color: #eee;
  opacity: 0.5;
  display: inline-block;
  width: 24px;
  border-radius: 12px;
  text-align: center;
}

#woohu-chooser .woohu-content {
  color: white;
  font-weight: normal;
  width: 80%;
}
